body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #101010;
  overflow-x: hidden;
}
.home-page {
  background: url("/images/header-pattren.svg");
  background-color: #010001;
  position: relative;
  overflow: hidden;
  .banner {
    padding: 55px 0;
    position: relative;
    img {
      width: 100%;
    }
    .banner-heading {
      color: white;
    }
  }
}
.case-studies {
  position: relative;
  .right-blue-circle{
    height: 732px;
    width: 732px;
    filter: blur(350px);
    right: -24%;
  }
  .left-blue-circle{
    height: 732px;
    width: 732px;
    filter: blur(350px);
    left: -24%;
  }
  img {
    width: 100%;
  }
}
.border {
  background: #3c3c3c80;
  width: 0.5px;
  height: 500px;
  margin-inline: 44px;
}
.what-we-do {
  position: relative;
  .left-blue-circle{
    height: 300px;
    width: 300px;
    filter: blur(180px);
    left: 50%;
    bottom: 13%;
    transform: translateX(-50%);
  }
  .service-card {
    display: flex;
    justify-content: center;
    .ant-card {
      max-width: 288px;
    }
  }
}

.reviews {
  .rating {
    max-width: 390px;
  }
  .navigation-btns {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}
.contact-form {
  border-radius: 34px;
  background: #2a2b2b52;
  backdrop-filter: blur(4px);
  .right-blue-circle {
    filter: blur(315px);
    right: -48%;
}
}
@media screen and (max-width:992px) {
  .case-studies {
    .left-blue-circle, .right-blue-circle{
      display: none;
    }
  }
}
@media screen and (max-width:425px) {
    .left-blue-circle, .right-blue-circle{
     height: 300px !important;
     width: 300px !important;
    }
}
@media screen and (max-width: 375px) {
  .border {
    margin-inline: 8px;
  }
}
