body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #101010;
}
.home-page {
  background: url("/images/header-pattren.svg");
  background-color: #010001;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    background: url("/images/left-box.svg");
    height: 612px;
    width: 612px;
    position: absolute;
    bottom: 0;
  }
  &::before {
    content: "";
    background: url("/images/right-box.svg");
    height: 612px;
    width: 612px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .banner {
    padding: 55px 0;
    img{
      width: 100%;
    }
    .banner-heading {
      color: white;
    }
  }
}
.case-studies{
  img{
    width: 100%;
  }
}
.border {
  background: #3c3c3c80;
  width: 0.5px;
  height: 500px;
  margin-inline: 44px;
}
.service-card {
  display: flex;
  justify-content: center;
  .ant-card {
    max-width: 288px;
  }
}
.reviews {
  .rating {
    max-width: 390px;
  }
  .navigation-btns {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}
.contact-form {
  border-radius: 34px;
  background: #2a2b2b52;
  backdrop-filter: blur(4px);
  /* &::after {
    content: "";
    background: url("/images/right-box.svg");
    height: 732px;
    width: 732px;
    position: absolute;
    bottom: 0;
  } */
}
