.footer{
    ul{
        padding: 0;
        li{
            list-style: none;
            margin-bottom: 15px;
            cursor: pointer;
        }
    }
    @media screen and (max-width: 320px) {
        .footer-menu{
            display: block !important;
        }
    }
}