.footer{
    .left-blue-circle{
        height: 350px;
        width: 350px;
        filter: blur(119px);
        left: -43%;
        bottom: -210px;
    }
    ul{
        padding: 0;
        li{
            list-style: none;
            margin-bottom: 15px;
            cursor: pointer;
        }
    }
    @media screen and (max-width: 320px) {
        .footer-menu{
            display: block !important;
        }
    }
}