.header{
    background: transparent;
    .ant-menu-overflow{
        justify-content: center;
    }
    .ant-menu-title-content{
        color: #FFFFFF;
        font-size: 16px;
        line-height: 20px;
    }
}