.header {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1000;
  .header-menu,.contact-btn{
    display: inline-block;
  }
  .drawer-btn{
    display: none;
  }
  .ant-btn{
    min-width: 130px;
  }
  .ant-menu-overflow {
    justify-content: center;
  }
  .ant-menu-light {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    font-weight: 400;
    border: 1px solid #ffffff1f;
    border-radius: 12px;
    max-width: fit-content;
    &:hover {
      color: white !important;
    }
  }

  .ant-menu li.ant-menu-item.ant-menu-item-selected {
    color: white;
  }
  @media screen and (max-width:768px){
    .header-menu{
      display: none;
    }
    .drawer-btn{
      display: inline-block;
    }
  }
  @media screen and (max-width:576px){
    .contact-btn{
      display: none;
    }
  }
}
.menu-popover {
  background-color: #0a0a0a;
  .ant-popover .ant-popover-inner {
    background-color: #0a0a0a;
  }
  .header-list {
    color: white;
  }
}
