.teams{
  img{
    width: 100%;
  }
  .left-blue-circle{
    height: 630px;
    width: 630px;
    left: -50%;
    bottom: -15%;
  }
  .our-team {
    background: url("/images/header-pattren.svg");
    background-color: #010001;
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
    }
    .banner {
      padding: 55px 0;
      .banner-heading {
        color: white;
      }
    }
  }
  .img-border{
    background: #979393;
    width: fit-content;
    padding: 4px;
  }
  .marketing-img{
    background: #4C99B238;
    width: fit-content;
    padding: 4px;
  }
  .purge-card{
    backdrop-filter: blur(4px);
    background: #2A2B2B52;
    min-height: 387px;
    max-width: 288px;
    img{
      width: 50px !important;
    }
  }
  .float-img-right{
    right: 19%;
    top: 50%;
  }
  .float-img-left{
    left: 21%;
    top: 50%;
  }
}