.ant-form-item .ant-form-item-label > label {
  display: none;
}
.ant-input {
  background: transparent;
  border-width: 0 0 0.6px 0;
  border-style: solid;
  border-color: #787878 !important;
  border-radius: 0;
  color: #ffffffb2;
  font-weight: 300;
  size: 14px;
  line-height: 30px;
  padding: 4px 0px;
  margin-right: 40px;
  &::placeholder {
    color: #ffffffb2;
    font-weight: 300;
    size: 14px;
    line-height: 30px;
  }
 
}
.ant-input:focus,
.ant-input-focused {
  border-color: transparent;
  box-shadow: none;
  border-inline-end-width: 0;
}
.ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input:focus,
.ant-input-status-error:not(.ant-input-disabled):not(
    .ant-input-borderless
  ).ant-input-focused {
  box-shadow: none;
}
