.ant-menu-light .ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected){
    color: white;
    &::after{
        border-bottom-color: white;
    }
}
.ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected{
    color: white;
    border-radius: 8px;
    background-color: #282727;
    &:first-child {
        border-radius: 12px 8px 8px 12px; 
      }
      &:last-child {
        border-radius: 8px 12px 12px 8px; 
      }
    &::after{
        display: none;
    }
}
.ant-menu-horizontal .ant-menu-item{
    padding: 10px;
    margin-right: 10px;
}